<%- include('../partials/_admin-header'); %>

    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="me-2">
                <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" data-bs-whatever="@mdo"><i class="bi bi-plus"></i> Add Admin</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Generate Report</button>
            </div>
            <!-- <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <span data-feather="calendar"></span>
                            This week
                        </button> -->
        </div>
    </div>

    <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

    <h4>Landlords</h4>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Contact</th>
                </tr>
            </thead>
            <tbody>

                <% for (let i = 0; i < landlords.length; i++) { %>
                    <tr>
                        <td><%= landlords[i].lid %></td>
                        <td><%= landlords[i].firstname %></td>
                        <td><%= landlords[i].lastname %></td>
                        <td><%= landlords[i].contact %></td>
                    </tr>
                <% } %>

            </tbody>
        </table>
    </div>

    <%- include('../partials/_admin-footer'); %>